table {
    margin-top: 20px !important;
    max-width: 400px;
}

input {
    padding: 0 8px !important;
    margin: 0 !important;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="submit"] {
    margin-top: 10px !important;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.modal {
    position: fixed;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.conteudo-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    background-color: #fefefe;
    padding: 30px;
}

.fechar {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.projeto {
    margin-top: 10px !important;
}

.aceite {
    display: flex;
    margin-top: 10px;
}

h6 {
	margin: 0 !important;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none !important;
}